{% extends 'base.html.twig' %}

{% block title 'Edit Pin #' ~ pin.id %}

{% block body %}
<h1>Edit Pin</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-primary btn-block" value="Edit Pin">
{{ form_end(form) }}
{% endblock %}