{% extends 'base.html.twig' %}

{% block title 'Show Pin' %}

{% block body %}
<h1>Show Pin</h1>

<hr>

<h4>{{ pin.title }}</h4>

<p>{{ pin.description }}</p>

<a href="{{ path('edit', {id: pin.id}) }}" class="btn btn-primary">Edit</a>
<a href="{{ path('index') }}" class="btn btn-secondary">Back</a>

{% endblock %}